@import url(../fonts/css/switzer.css);

:root {
    --primary-color: #FD8840;
    --hover-color: #f86a12;
    --neutral-n1: #01020D;
    --neutral-n2: #15152A;
    --neutral-n3: #646469;
    --neutral-n4: #E5E5E5;
    --neutral-n5: #F6F6F6;
    --neutral-n6: #FFFFFF;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Switzer-Regular;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #000;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    color: var(--neutral-n3);
    font-size: 18px;
}

.button {
    border: none;
    outline: none;
    background: var(--primary-color);
    color: var(--neutral-n6);
    transition: all .3s linear;
}

.button:hover {
    background: var(--hover-color);
}

.site-btn {
    padding: 13px 24px;
    border-radius: 100px;

}

.round-btn {
    padding: 13px 18px;
    border-radius: 50%;
}

.section-box {
    padding: 120px 0;
}

.bg-section{
    background: var(--neutral-n5);
}

.heading.flex-heading {
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-bottom: 1px solid var(--neutral-n4);
    padding-bottom: 32px;
}

.heading.flex-heading .title {
    font-weight: 600;
    font-size: 44px;
    line-height: 52px;
    color: var(--neutral-n2);
}

/* menu start */
.main-menu {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
    border-bottom: 1px solid var(--neutral-n3);
}

.menu ul {
    display: flex;
    gap: 40px;
}

.main-menu ul li a {
    color: var(--neutral-n4);
}

.main-menu .action {
    display: flex;
    align-items: center;
}

.main-menu .action .contact-btn {
    padding: 13px 24px;
    border-radius: 100px;
}

.main-menu .action .action-btn {
    padding: 13px 18px;
    border-radius: 50%;
}

/* menu end */

/* hero section start */
.hero-section {
    background-image: url(../images/hero-image.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    position: relative;
}

.hero-section .content {
    padding: 88px 0;
    padding-bottom: 272px;
}

.hero-section .heading {
    color: var(--neutral-n4);
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero-section p {
    color: var(--neutral-n4);
    margin-bottom: 48px;
}

.hero-section .heading .image {
    position: relative;
    margin-right: 100px;
}


.hero-section .heading .image .img-1 {
    position: absolute;
    left: 0px;
    top: 18px;
}

.hero-section .heading .image .img-2 {
    position: absolute;
    left: 40px;
    top: 18px;
}

.hero-section .search {
    background: #ffffff48;
    width: 80%;
    padding: 8px;
    padding-left: 24px;
    border-radius: 100px;
    border: 1px solid #ffffffb0;
    backdrop-filter: blur(10px);
}

.hero-section .search form {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.hero-section .search form .form-input {
    width: 85%;
}

.hero-section .search form .form-input input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: var(--neutral-n4);
    font-size: 18px;
}

.hero-section .search form .form-input input::placeholder {
    color: var(--neutral-n4);
}

.hero-section .search .search-btn {
    transition: all .3s linear;
    background: var(--primary-color);
    height: 58px;
    width: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 50%;
    color: var(--neutral-n5);
    font-size: 18px;
}

.hero-section .search .search-btn:hover {
    background: var(--hover-color);
}


.hero-section .hero-footer {
    position: absolute;
    width: 100%;
    background: #ffffff60;
    backdrop-filter: blur(10px);
    left: 0;
    bottom: 0;
    padding: 40px 0;
}

.hero-footer .rating {
    background: var(--neutral-n6);
    display: inline-block;
    padding: 6px 10px;
    border-radius: 100px;
    margin-bottom: 15px;
}

.hero-footer .rating i {
    color: var(--primary-color);
}

.hero-footer .rating span {
    font-weight: 600;
}

.hero-footer p {
    line-height: 30px;
    margin: 0;
    color: var(--neutral-n4);
}

.hero-footer .list-content .single-state {
    border: 1px solid var(--neutral-n4);
    border-radius: 24px;
    padding: 20px;
    color: var(--neutral-n6);
    width: 100%;
}

.hero-footer .list-content .single-state h4 {
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    margin: 0;
    color: var(--neutral-n6);
}

.hero-footer .list-content .single-state p{
    color: var(--neutral-n4);
}

/* hero section end */


/* listing section start */
.listing-items .single-item .image {
    position: relative;
    margin-bottom: 20px;
}

.listing-items .single-item .image a,
.listing-items .single-item .image img {
    width: 100%;
}

.listing-items .single-item .image .tag {
    color: var(--neutral-n2);
    font-size: 16px;
    background: var(--neutral-n6);
    padding: 10px 16px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    left: 18px;
}

.listing-items .single-item h3 {
    color: var(--neutral-n2);
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.listing-items .slider-dots {
    display: flex;
    background: var(--neutral-n5);
    padding: 10px;
    border-radius: 100px;
    width: 70px;
    justify-content: space-between;
}

.listing-items .slider-dots .dots {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--neutral-n4);
}

.listing-items .slider-dots .dots.active {
    background: var(--primary-color);
}

/* listing section end */

/* services seftion start */
.services .single-item {
    display: flex;
    gap: 20px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid var(--neutral-n4);
}

.services .single-item:last-child {
    margin-bottom: 0;
}

.services .single-item h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 23px;
    color: var(--neutral-n2);
}

/* services seftion end */